{% load static %}

<script src="{% static "jquery/js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "popperjs/js/popper.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">Awesome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'game' %}">Game <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list' %}">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'history' %}">History</a>
      </li>
    </ul>
  </div>
</nav>
